---
import DarkModeButton from "../components/DarkModeButton";

const theme = Astro.cookies.get('theme')?.value || 'light';
const siteUrl = import.meta.env.PUBLIC_SITE_URL;
const { holidayName } = Astro.props;

const description = holidayName 
  ? `O pr贸ximo feriado 茅 ${holidayName}!`
  : 'Descubra qual 茅 o pr贸ximo feriado no Brasil.';
  
---

<!doctype html>
<html lang="pt-BR" class={theme}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22></text></svg>">
		<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		
		<!-- Primary Meta Tags -->
		<title>Qual  o Pr贸ximo Feriado</title>
		<meta name="title" content="Qual  o Pr贸ximo Feriado">
		<meta name="description" content={description}>
		<meta name="keywords" content="feriados, brasil, pr贸ximo feriado, calend谩rio, datas comemorativas">
		<meta name="author" content="Igor Stefano ">
		<meta name="language" content="Portuguese">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content={siteUrl}>
		<meta property="og:title" content="Qual  o Pr贸ximo Feriado">
		<meta property="og:description" content={description}>
		<meta property="og:image" content={`${siteUrl}/seo-image.png`}>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content={siteUrl}>
		<meta property="twitter:title" content="Qual  o Pr贸ximo Feriado">
		<meta property="twitter:description" content={description}>
		<meta property="twitter:image" content={`${siteUrl}/seo-image.png`}>

		<script type="application/ld+json" set:html={JSON.stringify({
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Qual  o Pr贸ximo Feriado",
			"description": "Descubra qual 茅 o pr贸ximo feriado no Brasil.",
			"url": siteUrl,
			"inLanguage": "pt-BR",
			"author": {
			  "@type": "Person",
			  "name": "Igor Stefano"
			},
			"mainEntity": {
			  "@type": "Dataset",
			  "name": "Feriados Brasileiros",
			  "description": "Informa qual 茅 o pr贸ximo feriado nacional do Brasil",
			  "about": "Feriados Nacionais",
			  "keywords": ["feriados", "brasil", "pr贸ximo feriado", "calend谩rio", "datas comemorativas"]
			}
		  })} />
	</head>
	<body>
		<div class="absolute top-4 right-4">
			<DarkModeButton client:only="react" />
		</div>
		<section class="flex flex-col gap-4 h-dvh w-screen justify-center items-center">
			<slot />
		</section>
	</body>
</html>

<style>
	:root {
		--background: #fafafa;
		--text: #171717;
	}

	.dark {
		--background: #171717;
		--text: #fafafa;
	}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: var(--background);
		color: var(--text)
	}
</style>
